body {
    background-color: #25383C;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=61527),auto;
    color: white;
    font-family: "Westwood LET", serif;
    text-align: center;
}

p {
    font-size: 20px;
}

/* unvisited link */
a:link {
    color: aquamarine;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: cyan;
}

/* selected link */
a:active {
    color: cyan;
}
