html {
	background: url(/img/background.png) no-repeat center fixed; 
	background-size: cover;
}

body {
    background-color: #686868;
    color: #black;
    font-family: "Tahoma";
    text-align: center;
    margin: 25px;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

p {
    font-size: 18px;
}

/* for dividing line */
p.bot {
	border-bottom: solid;
	border-color: white;
}

/* unvisited link */
a:link {
    color: aquamarine;
}

/* visited link */
a:visited {
    color: aqua;
}

/* mouse over link */
a:hover {
    color: cyan;
}

/* selected link */
a:active {
    color: cyan;
}

/* fancy buttons */
.button {
    background-color: #0099ff; /* logo blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}
/* mouse over button */
.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	cursor: url(http://www.rw-designer.com/cursor-extern.php?id=61527),pointer;
}
/* button size and color varieties */
.button1 {
	width: 450px;
	height: 100px;
}
.button2 {width: 221px;}
.button3 {background-color: #434343;}


/* align columns */
#container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#container > div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	background-color: #0099ff;
	padding: 5px;
	margin: 5px;
}
