<! Written by Micah Cliffe>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>New Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% if success %}
    <h1>Game {{ g_id }}</h1>
    <p>Open the mobile app and join this game using the ID: {{ g_id }}</p>
    {% else %}
    <h1>Failed to Create Game</h1>
    <p>{{ error }}</p>
    {% endif %}

    <br>
    <div>
        <a href="/"><button>Home</button></a>
        <a href="/new"><button>New</button></a>
        <a href="/view"><button>View</button></a>
    </div>
</body>
</html>
