<! Written by Micah Cliffe>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>New Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>
<body>
    <img src="{{ url_for('static', filename='img/logo_icon.png') }}" alt="" width=394 height=350> <br>
	{% if success %}
    <h1>Game {{ g_id }}</h1>
    <p>Open the mobile app and join your game using the above Game ID.<br>May luck favor you, and may the best Assassin win!</p>
    {% else %}
    <h1>Failed to Create Game</h1>
    <p>{{ error }}</p>
    {% endif %}

    <br><br>
    <div>
        <a href="/home"><button class="button button2">Home</button></a>
		<a href="/new"><button class="button button2">Start New Game</button></a>
    </div>
	<div align="center">
		<a href="/view"><button class="button button3">View Game</button></a>
	</div>
</body>
</html>
