<! Written by Micah Cliffe>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Android Assassin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>

<body>

<div align="center">
    <h1>Assassin</h1>
    <p>Assassin is a classic game as described <a href="https://en.wikipedia.org/wiki/Assassin_(game)">here</a>...</p>

    <h2>Adaptations</h2>
    <p>NFC, Wi-Fi, GPS, cellular networks ...</p>
</div>

<div align="center">
    <h1>Play!</h1>
    <p>Connect to a current game or create a new game.<br>
       <a href="/instructions">How to play</a></p>

    <div>
        <a href="/new"><button>New Game</button></a>
        <a href="/view"><button>View Game</button></a>
    </div>
</div>

<img src="{{ url_for('static', filename='img/Assassin_transparent_black.png') }}" alt="" width=1000 height=350>

</body>
</html>
