<! Written by Micah Cliffe and Nick Adair>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Bluetooth Assassin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>

<body>

<img src="{{ url_for('static', filename='img/Assassin_transparent_blue.png') }}" alt="" width=1000 height=350>

<div align="center">
    <h1>Play Bluetooth Assassin!</h1>
		<a href="/new"><button class="button button1">Start New Game</button></a> <br>
		<button class="button button2" onclick="alert('This app is not yet in the app store.')">Download App</button> 
		<a href="/instructions"><button class="button button2">How To Play</button></a> <br> <br>
</div>

<div class="boxed">
	<h1>Traditional Assassin</h1>
	<p>Assassin is a classic live-action game that has been enjoyed for years by countless people all 
	over the world. It's a favorite on college campuses, where high population density and stressful 
	schedules lend themselves well to the anxiety and paranoia inducing game.</p>
	<p>Assassin can be played in many different ways, but the general rules remain the same. The game 
	host assigns every player a unique target until all players have both their own target (Victim) and 
	are the target of another player (Assassin). Each player then secretly receives the identity of their 
	Victim. The players do not know the identity of their own Assassin, nor anyone else's Assassin or 
	Victim. After an agreed upon time, the game begins.</p>
	<p>Each player attempts to assassinate their Victim - and not get taken out by their Assassin 
	in the process! How assassination is performed varies greatly between different versions of the game: 
	from marking the Victim with sharpie, to putting a note in their belongings, to actually stabbing them 
	with toy weapons or shooting them with airsoft guns. Regardless of the method, when a player is 
	assassinated, and thus eliminated from play, their Victim is passed on to the successful Assassin, 
	allowing the game to smoothly continue until only one triumphant player remains.</p>
	<p>What makes Assassin such an engaging game is the need for constant vigilance to prevent against your 
	own assassination, coupled with the need for subtlety and cunning to track down and assassinate your 
	Victim. The potential for the game to run for days, perhaps even weeks, means that players must continue 
	going about their daily lives while under the constant pressure of the game. Nowhere is safe, 
	and you can't trust anyone.</p>
	
	<h2>Issues with Traditional Assassin</h2>
	<div id="container">
		<div>
			<div align="center"><h3>Host Required</h3></div>
			<p>No one wants to be the odd one out, but there's no choice in the traditional game. If 5 friends want 
			to play Assassin, then only 4 friends get to play Assassin. There's no way around it - targets need to 
			be secretly assigned by someone without a stake in the game.</p>
		</div>
		
		<div>
			<div align="center"><h3>Cheating is Easy</h3></div>
			<p>Let's face it, we all want to win. And some people will do anything to win, even if it cheapens the 
			win. Cheating is the best way to ruin the fun of any game, and traditional Assassin is not immune to 
			cheating. If there were no witnesses to an assassination a Victim could deny it happened, bringing the 
			game to an awkward, screeching halt.</p>
		</div>
		
		<div>
			<div align="center"><h3>Familiarity with Players Required</h3></div>
			<p>While knowing the other players can certainly add to the fun of a game, not knowing them makes the 
			game almost impossible to play. If you don't have any mutual friends, you may never be able to uncover 
			any information about your Victim's schedule. This severely diminishes Assassin's incredible potential 
			as an ice-breaker game.</p>
		</div>
	</div> <! container div >
</div> <! boxed div >

	<p class = "bot"></p>

<div class="boxed">
	<h2>The Solution?</h2> <h1>Bluetooth Assassin</h1>
	<p>Smartphones. We don't go anywhere without them these days, but that may not be a bad thing. What if 
	Assassins used their phone as a weapon? If their phone was close enough to their Victim's phone, they could 
	simply tap a button and their Victim is no more!</p>
	<p>Bluetooth Assassin is an app developed for Android phones that uses - you guessed it - Bluetooth to connect 
	Assassins to Victims if they get close enough to each other. Bluetooth's operating range ensures an Assassin 
	must be within about 10 meters of their target to make a fatal strike. By using a smartphone app, several 
	issues, including all of those listed above, are eliminated. First, there is no more need for a host to 
	secretly handle the pairings, and that's because you're currently looking at Bluetooth Assassin's host! This 
	page is the front-end of a server that handles the creation and management of games: assigning random pairings 
	of Assassins and Victims, ensuring successful Assassins are credited and given their new target, and crowning 
	a winner at the conclusion of a game. That second point also means we need not worry about the sort of 
	cheating described earlier. And for the issue of required familiarity, Bluetooth Assassin adds a new flair not 
	possible in more traditional versions of the game - GPS updates. Every 5 minutes Assassins are updated with 
	their target's previous location (their location 5 minutes prior, at the time of the previous update). This 
	allows for complete strangers to take part in the game, as well as giving the game a faster pace. But don't 
	be fooled into thinking your job as an Assassin has been made too simple - you will still need to predict your 
	Victim's exact movements, which is no small task. And the target on your back - or dare we say, your phone - 
	is just as big.</p>
	<p>There are a whole host of reasons why Bluetooth Assassin simplifies and improves upon traditional Assassin, 
	but why read about it when you can go try it out yourself? Get the app and start up a new game now!</p>
	<h3>May luck favor you, and may the best Assassin win!<h3>
</div>

<div align="center">
	<a href="/view"><button class="button button3">View Game</button></a>
</div>

</body>
</html>
