<! Written by Micah Cliffe and Nick Adair>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Bluetooth Assassin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>

<body>

<img src="{{ url_for('static', filename='img/Assassin_transparent_black.png') }}" alt="" width=1000 height=350>

<div align="center">
    <h1>Play Bluetooth Assassin!</h1>
		<a href="/new"><button class="button button1">Start New Game</button></a> <br>
		<a href="/download"><button class="button button2">Download App</button></a>
		<a href="/instructions"><button class="button button2">How To Play</button></a> <br> <br>
</div>

<div align="left">
	<h1>Traditional Assassin</h1>
    <p>Assassin is a classic live-action game that has been enjoyed for years by countless people all 
	over the world. It's a favorite on college campuses, where high population density and stressful 
	schedules lend themselves well to the anxiety and paranoia inducing game.</p>
	<p>Assassin can be played in many different ways, but the general rules remain the same. The game 
	host assigns every player a unique target until all players have both their own target (Victim) and 
	are the target of another player (Assassin). Each player then secretly receives the identity of their 
	Victim. The players do not know the identity of their own Assassin, nor anyone else's Assassin or 
	Victim. After an agreed upon time, the game begins.</p>
	<p>Each player attempts to assassinate their Victim - and not get taken out by their Assassin 
	in the process! How assassination is performed varies greatly between different versions of the game: 
	from marking the Victim with sharpie, to putting a note in their belongings, to actually stabbing them 
	with toy weapons or shooting them with airsoft guns. Regardless of the method, when a player is 
	assassinated, and thus eliminated from play, their Victim is passed on to the successful Assassin, 
	allowing the game to smoothly continue until only one triumphant player remains.</p>
	<p>What makes Assassin such an engaging game is the need for constant vigilance to prevent against your 
	own assassination, coupled with the need for subtlety and cunning to track down and assassinate your 
	Victim. The potential for the game to run for days, perhaps even weeks, means that players must continue 
	going about their daily lives while under the constant pressure of the game. No where is safe, 
	and you can't trust anyone.</p>
	
	<h2>Issues with Traditional Assassin</h2>
	<div id="container">
		<div>
		<div align="center"><h3>Host Required</h3></div>
		<p>No one wants to be the odd one out, but there's no choice in the traditional game. If 5 friends want 
		to play Assassin, then only 4 friends get to play Assassin. There's no way around it - targets need to 
		be secretly assigned by someone without a stake in the game.</p>
		</div>
		
		<div>
		<div align="center"><h3>Cheating is Easy</h3></div>
		<p>Let's face it, we all want to win. And some people will do anything to win, even if it cheapens the 
		win. Cheating is the best way to ruin the fun of any game, and traditional Assassin is not immune to 
		cheating. If there were no witnesses to an assassination a Victim could deny it happened, bringing the 
		game to an awkward, screeching halt.</p>
		</div>
		
		<div>
		<div align="center"><h3>Familiarity with Players Required</h3></div>
		<p>While knowing the other players can certainly add to the fun of a game, not knowing them makes the 
		game almost impossible to play. If you don't have any mutual friends, you may never be able to uncover 
		any information about your Victim's schedule. This severely diminishes Assassin's incredible potential 
		as an ice-breaker game.</p>
		</div>
	</div>
	<p class = "bot"><br><br></p>
</div>

<div align="left">
	<h2>The Solution?</h2> <h1>Bluetooth Assassin</h1>
	<p> Stuff about how Bluetooth Assassin doesn't suffer from those issues, because of how it works. Then I 
	can explain how it works and stuff.</p>
</div>

<div align="center">
	<a href="/view"><button class="button button3">View Game</button></a>
</div>

</body>
</html>
