<! Written by Nick Adair>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Instructions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>

<body>
    <h1>How to Play Bluetooth Assassin</h1>
	<div class="boxed">
		<h2>What do I need?</h2>
		<p> Stuff about phone and people or whatever I don't know.</p>
	</div>
	
	<button class="button button2" onclick="alert('This app is not yet in the app store.')">Download App</button> 
	<a href="/new"><button class="button button2">Start New Game</button></a>
	
	<div class="boxed">
		<h2>Gameplay Recommendations</h2>
		<p> How to play this one specifically with like how to start game and shit or maybye that will be last section, I don't know yet.</p>
	</div>

	<a href="/home"><button class="button button2">Home</button></a>
	
</body>
</html>
