<! Written by Nick Adair>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Instructions</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<!-- ================== Nick, edit from here ================== -->

    <h1>How to Play Assassin</h1>
    <p>Blah blah blah</p>


	<!-- ========================= To here ========================= -->
    <br>
    <a href="/"><button>Home</button></a>
    <a href="/new"><button>New</button></a>
    <a href="/view"><button>View</button></a>

</body>
</html>
