<! Written by Micah Cliffe>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>New Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>
<body>

    <h1>Start New Game</h1>
    <p>Enter player info to create a new game.</p>

    <div id="playerInfo" class="playerInfo">
        Number of players:
        <select id="playerNumberDrop" class="playerInfo" onchange="playerFields(this)">
        </select>
        <ul id="infoList" class="playerInfo">
            <form action="/new" method="POST" class="playerInfo" id="pInfoForm" onsubmit="return nameCheck()">
            </form>
        </ul>
    </div>

    <br>
    <div>
        <a href="/home"><button class="button button2">Home</button></a>
    </div>
	<div align="center">
		<a href="/view"><button class="button button3">View Game</button></a>
	</div>

	<!-- ================== JavaScript ================== -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="static/js/script.js"></script>
    <script> window.onload=numPlayers </script>
</body>
</html>
