<! Written by Micah Cliffe>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>View Game</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>
<body>

    <h1>Game {{ g_id }}</h1>
    <p>Player Status</p>

    <div id="info">
        <ul>
            <li>ID | Name | Status</li>
        {% for player in info %}
            <li>{{ player }}</li>
        {% endfor %}
        </ul>
    </div>

    <br>
    <div>
        <a href="/"><button>Home</button></a>
        <a href="/new"><button>New</button></a>
        <a href="/view"><button>View</button></a>
    </div>
</body>
</html>
