<! Written by Micah Cliffe>
<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>View Game</title>
    <link rel="icon" href="{{ url_for('static', filename='img/icon_blue.ico') }}" />
</head>
<body>

    <h1>View Game</h1>
    <p>Enter the ID of the game to view.</p>
    <form action="view">
        Game ID: <input type="text" name="g_id" value="###"><br>
        <input type="submit" value="Submit">
    </form>

    <br>
    <div>
        <a href="/"><button>Home</button></a>
        <a href="/new"><button>New</button></a>
    </div>

</body>
</html>
